body {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  background-color: #ecf0f1;
  color: #2c3e50;
  font-family: 'Lucida Grande', Helvetica, Arial;
  margin: 0;
  box-sizing: border-box;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
}
button:hover {
  color: #CFD8DC;
}
button:focus {
  outline: none;
}

nav {
  background-color: #2980b9;
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  color: #ecf0f1;
}
nav h3 {
  width: auto;
  float: left;
  margin: 0;
  padding-right: 1em;
  line-height: 1em;
}
nav button {
  text-decoration: underline;
  padding: 0 1em;
  color: #ecf0f1;
}

.contents {
  width: 90%;
  margin: 0 auto;
}
